/* Reset */
@font-face {
  font-family: 'Digital-7';
  src: url("../fonts/Digital-7.woff2") format("woff2"), url("../fonts/Digital-7.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: 'Lato',sans-serif;
  font-weight: normal;
  font-style: normal; }

ul {
  list-style: none; }

.fix:after,
ul:after {
  clear: both;
  display: block;
  content: " "; }

a {
  color: #000;
  text-decoration: none;
  display: inline-block;
  transition: .4s; }

button {
  cursor: pointer; }

button:focus {
  outline: 0; }

/* Utilities */
.floatleft {
  float: left; }

.floatright {
  float: right; }

.ttu {
  text-transform: uppercase; }

.tac {
  text-align: center; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

/* Layout */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:after {
    clear: both;
    display: block;
    content: " "; }

/* Start Calculator Design */
.calc-wrap {
  background-color: #4d4d4d;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px 15px;
  margin-top: 30px; }
  .calc-wrap .d-output {
    font-family: 'Digital-7';
    background-color: #d0e6a8;
    text-align: right;
    padding: 7px 8px 5px;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 15px;
    min-height: 69px;
    float: left;
    min-width: 300px; }
  .calc-wrap .buttons {
    margin: 0 -10px; }
    .calc-wrap .buttons .clear-back button {
      width: 140px;
      height: 45px; }
      .calc-wrap .buttons .clear-back button.back {
        float: right; }
    .calc-wrap .buttons button {
      background-color: #808080;
      color: #fff;
      border: 0;
      float: left;
      width: 60px;
      height: 50px;
      font-size: 25px;
      margin: 10px;
      font-weight: 700; }
      .calc-wrap .buttons button:hover {
        background-color: #6c6b6b; }
      .calc-wrap .buttons button.operator {
        background-color: #65C7D0; }
      .calc-wrap .buttons button.equal {
        background-color: #E5595D; }
