.floatleft {
    float: left;
}
.floatright {
    float: right;
}
.ttu {
    text-transform: uppercase;
}
.tac {
    text-align: center;
}
.tal {
    text-align: left;
}
.tar {
    text-align: right;
}